# ========================
# Terraform
# ========================
# Ignora tudo dentro da pasta terraform, inclusive subpastas e arquivos
terraform/**

# Permite especificamente esses dois arquivos:
!terraform/main.tf
!terraform/stage/
!terraform/stage/main.tf

# Continua ignorando os arquivos indesejados
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
*.tfplan
override.tf
override.tf.json


# Nunca subir chaves
*.pem
*.key
*.pub
*.ppk
id_rsa*
*.gcp.json
terraform/*.json

# ========================
# Docker
# ========================
**/Dockerfile~
docker-compose.override.yml
docker-compose.override.yaml

# ========================
# Node.js / Frontend
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.next/
out/
.env
.env.*.local

# ========================
# Python / Backend
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
.mypy_cache/
.pytest_cache/
.coverage

# ========================
# General
# ========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.bak
*.swp
*.swo
*.tmp

# ========================
# Ansible
# ========================
*.retry

# ========================
# Git Large Files
# ========================
*.lfs

# ========================
# Arquivos de lock / dependência
# ========================
package-lock.json
yarn.lock
pipfile.lock
poetry.lock
